{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="auth-form">
  <form method="post">
    <label for="username">Username</label>
    <input class="form-input" name="username" id="username" required>
    <label for="password">Password</label>
    <input class="form-input" type="password" name="password" id="password" required>
    <input class="form-button" type="submit" value="Log In">
  </form>
</div>
{% endblock %}
